.input-file {
	height: 100%;
	left: 0;
	position: absolute;
	opacity: 0;
	top: 0;
	width: 100%;
}

.fileinput-button {
	position: relative;
}

.label {
	color: #999;
}

.mrt-20 {
	margin-top: 20px;
}

#showImage {
	display: none;
	min-height: 250px;
}

#sendData {
	display: none;
}

.jcrop-keymgr {
	display: none !important;
}

.jcrop-holder #preview-pane {
  display: block;
  position: absolute;
  z-index: 2000;
  right: -280px;
  background-color: white;
}

#preview-pane .preview-container {
  width: 250px;
  height: 250px;
  overflow: hidden;
}